nodeFlow/flow.txt
[{"id":"a7176faf.53693","type":"tab","label":"Flow 1"},{"id":"a066d285.992a7","type":"websocket-listener","z":"","path":"/ws/roboarm","wholemsg":"false"},{"id":"9b71e6db.56b9e8","type":"websocket-client","z":"","path":"ws://ws/roboarm","wholemsg":"false"},{"id":"aab4e533.43e1e8","type":"http in","z":"a7176faf.53693","name":"","url":"/roboarm","method":"get","upload":false,"swaggerDoc":"","x":130,"y":700,"wires":[["b3074e19.123bf"]]},{"id":"a54082a2.c631b","type":"http response","z":"a7176faf.53693","name":"","statusCode":"","headers":{"content-type":"application/json","Access-Control-Allow-Origin":"*"},"x":1510,"y":520,"wires":[]},{"id":"c3629a59.26e8f8","type":"comment","z":"a7176faf.53693","name":"Webserver","info":"","x":120,"y":660,"wires":[]},{"id":"b3074e19.123bf","type":"function","z":"a7176faf.53693","name":"switchAction","func":"if (msg.payload.action == \"status\") {\n    return [null,msg,null];\n} else if (msg.payload.action == \"start-left\" || msg.payload.action == \"start-right\") {\n    return [msg,null,null];\n}\nelse if (msg.payload.action == \"getDoctor\") {\n    msg.payload.status = flow.get(\"myDoctor\")||\"notsigned\";\n    return [null,null,msg]\n}\nelse {\n    msg.payload = \"\";\n    return [null,null,null];\n}\n","outputs":"3","noerr":0,"x":330,"y":700,"wires":[["a1541a7c.0eb838"],["5a9182e2.be247c"],["4850d499.85295c"]],"inputLabels":["GET"],"outputLabels":["start-left or start-right","status",""]},{"id":"948d32f1.7b35d","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":1930,"y":580,"wires":[]},{"id":"5410775c.5b5868","type":"exec","z":"a7176faf.53693","command":"sudo node /var/www/html/iCube/roboarm/start.js","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1490,"y":460,"wires":[["1422480a.1650d8"],[],[]]},{"id":"d6e0ae9b.af50a","type":"inject","z":"a7176faf.53693","name":"","topic":"","payload":"start-left","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":380,"wires":[["a1541a7c.0eb838"]]},{"id":"ac3d7371.40ee9","type":"inject","z":"a7176faf.53693","name":"","topic":"","payload":"start-right","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":460,"wires":[["a1541a7c.0eb838"]]},{"id":"4850d499.85295c","type":"json","z":"a7176faf.53693","name":"","pretty":true,"x":1390,"y":580,"wires":[["948d32f1.7b35d","a54082a2.c631b"]]},{"id":"5a9182e2.be247c","type":"function","z":"a7176faf.53693","name":"CheckStatus","func":"var myStatus = flow.get(\"myStatus\")||\"ready\";\nmsg.payload.status = myStatus;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":780,"wires":[["4850d499.85295c"]]},{"id":"b24f9a6e.1b2018","type":"inject","z":"a7176faf.53693","name":"","topic":"unlocker","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":190,"y":140,"wires":[["263694f0.c8793c"]]},{"id":"a815d807.2c46d8","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"263694f0.c8793c","type":"function","z":"a7176faf.53693","name":"setStatus","func":"flow.set(\"myStatus\",\"ready\"); \nmsg.payload = \"Status unlocked\";\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["a815d807.2c46d8"]]},{"id":"27ad17f8.ab0058","type":"inject","z":"a7176faf.53693","name":"","topic":"getStatus","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":190,"y":300,"wires":[["e853acd0.b864a"]]},{"id":"2d290a01.e12c86","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":550,"y":300,"wires":[]},{"id":"e853acd0.b864a","type":"function","z":"a7176faf.53693","name":"checkStatus","func":"msg.payload = flow.get(\"myStatus\")||\"no status\";\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["2d290a01.e12c86"]]},{"id":"4ebe1b6.191d2e4","type":"comment","z":"a7176faf.53693","name":"Switch selection","info":"opt1: start-left or start-right\nopt2: status","x":340,"y":660,"wires":[]},{"id":"41e28fa4.4f5ff","type":"comment","z":"a7176faf.53693","name":"setStatus: ready","info":"","x":160,"y":100,"wires":[]},{"id":"de23f5e0.5600c8","type":"comment","z":"a7176faf.53693","name":"getStatus","info":"","x":140,"y":260,"wires":[]},{"id":"57081e67.4b8c1","type":"comment","z":"a7176faf.53693","name":"Debug corner - useful functions","info":"","x":170,"y":40,"wires":[]},{"id":"74d0f402.4bdacc","type":"comment","z":"a7176faf.53693","name":"Main flow - including get web response","info":"","x":190,"y":620,"wires":[]},{"id":"b3e5ffe4.94ae5","type":"comment","z":"a7176faf.53693","name":"manually start-left","info":"","x":170,"y":340,"wires":[]},{"id":"70a72c9b.812354","type":"comment","z":"a7176faf.53693","name":"manually start-right","info":"","x":170,"y":420,"wires":[]},{"id":"c2f683c4.afe6b","type":"comment","z":"a7176faf.53693","name":"Check status","info":"","x":530,"y":740,"wires":[]},{"id":"a1541a7c.0eb838","type":"function","z":"a7176faf.53693","name":"CheckStatus","func":"var myStatus = flow.get(\"myStatus\")||\"ready\";\nif (myStatus == \"ready\") {\n    flow.set(\"myStatus\",\"locked\"); \n    if (msg.payload.action == \"start-left\") {\n        flow.set(\"direction\",\"start-left\");\n    } else {\n        flow.set(\"direction\",\"start-right\");\n    }\n    return [msg,null];\n} else {\n    msg.payload = [{\"status\":\"locked\"}];\n    flow.set(\"direction\",\"\");\n    return [null,msg];\n}\n\n","outputs":"2","noerr":0,"x":530,"y":660,"wires":[["d64bdcad.a822","e3a872ee.e6e9a"],["4850d499.85295c"]]},{"id":"b51ebe06.55d1c","type":"inject","z":"a7176faf.53693","name":"","topic":"locker","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":180,"y":220,"wires":[["2735bd43.ca8af2"]]},{"id":"7c683ccb.0e2a84","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":490,"y":220,"wires":[]},{"id":"2735bd43.ca8af2","type":"function","z":"a7176faf.53693","name":"setStatus","func":"flow.set(\"myStatus\",\"locked\"); \nmsg.payload = \"Status locked\";\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["7c683ccb.0e2a84"]]},{"id":"c73ad1c6.5a484","type":"comment","z":"a7176faf.53693","name":"setStatus: locked","info":"","x":160,"y":180,"wires":[]},{"id":"e3a872ee.e6e9a","type":"function","z":"a7176faf.53693","name":"","func":"msg.payload = [{\"action\":\"roboarm moving\",\"status\":\"running\"}];\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":800,"wires":[["4850d499.85295c"]]},{"id":"1422480a.1650d8","type":"function","z":"a7176faf.53693","name":"setStatus","func":"flow.set(\"myStatus\",\"ready\"); \nflow.set(\"direction\",\"\"); \nflow.set(\"myDoctor\", \"notsigned\");\nmsg.payload = \"Status set to ready\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1800,"y":400,"wires":[["948d32f1.7b35d"]]},{"id":"25b41822.706eb8","type":"inject","z":"a7176faf.53693","name":"","topic":"getStatus","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":750,"y":180,"wires":[["6d3fca84.39c5b4"]]},{"id":"567dfd89.1ecf64","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":1110,"y":180,"wires":[]},{"id":"6d3fca84.39c5b4","type":"function","z":"a7176faf.53693","name":"checkStatus","func":"msg.payload = flow.get(\"direction\")||\"no direction\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":180,"wires":[["567dfd89.1ecf64"]]},{"id":"f5b016b8.6cfa58","type":"comment","z":"a7176faf.53693","name":"getStatus","info":"","x":700,"y":140,"wires":[]},{"id":"d64bdcad.a822","type":"exec","z":"a7176faf.53693","command":"sudo sudo /home/pi/libnfc/libnfc-master/examples/nfc-poll","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":890,"y":560,"wires":[["5bd343a2.f0c0dc"],[],[]]},{"id":"5bd343a2.f0c0dc","type":"function","z":"a7176faf.53693","name":"","func":"msg.payload = flow.get(\"direction\");\nflow.set(\"myDoctor\",\"signed\");\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":460,"wires":[["5410775c.5b5868"]]},{"id":"c5654a15.642f28","type":"inject","z":"a7176faf.53693","name":"","topic":"locker","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":800,"y":300,"wires":[["3f60cc25.8031e4"]]},{"id":"f7275004.30c29","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":1110,"y":300,"wires":[]},{"id":"3f60cc25.8031e4","type":"function","z":"a7176faf.53693","name":"setStatus","func":"flow.set(\"myDoctor\",\"signed\"); \nmsg.payload = \"Doctor signed\";\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":300,"wires":[["f7275004.30c29"]]},{"id":"1899cd61.764ea3","type":"comment","z":"a7176faf.53693","name":"setStatus: locked","info":"","x":780,"y":260,"wires":[]},{"id":"40d6f710.072878","type":"inject","z":"a7176faf.53693","name":"","topic":"locker","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":800,"y":400,"wires":[["d2c63a35.44ff78"]]},{"id":"238330d.9c521d","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":1110,"y":400,"wires":[]},{"id":"d2c63a35.44ff78","type":"function","z":"a7176faf.53693","name":"setStatus","func":"flow.set(\"myDoctor\",\"notsigned\"); \nmsg.payload = \"Doctor signed\";\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":400,"wires":[["238330d.9c521d"]]},{"id":"3f2b5d24.ce86a2","type":"comment","z":"a7176faf.53693","name":"setStatus: locked","info":"","x":780,"y":360,"wires":[]},{"id":"5e3e4c18.953c64","type":"inject","z":"a7176faf.53693","name":"","topic":"getStatus","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":934,"y":74,"wires":[["27573047.03745"]]},{"id":"e6bf393f.551228","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":1294,"y":74,"wires":[]},{"id":"27573047.03745","type":"function","z":"a7176faf.53693","name":"checkStatus","func":"msg.payload = flow.get(\"myDoctor\")||\"nothing\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1094,"y":74,"wires":[["e6bf393f.551228"]]},{"id":"5b67a646.b7f7b8","type":"comment","z":"a7176faf.53693","name":"getStatus","info":"","x":884,"y":34,"wires":[]}]