nodeFlow/flow.txt
[{"id":"a7176faf.53693","type":"tab","label":"Flow 1"},{"id":"a124b3fe.3d409","type":"websocket-listener","z":"","path":"roboarm","wholemsg":"false"},{"id":"999a03c9.6f2b3","type":"websocket-listener","z":"a7176faf.53693","path":"/websocket","wholemsg":"false"},{"id":"aab4e533.43e1e8","type":"http in","z":"a7176faf.53693","name":"","url":"/roboarm","method":"get","upload":false,"swaggerDoc":"","x":130,"y":700,"wires":[["b3074e19.123bf"]]},{"id":"a54082a2.c631b","type":"http response","z":"a7176faf.53693","name":"","statusCode":"","headers":{"content-type":"application/json","Access-Control-Allow-Origin":"*"},"x":1130,"y":740,"wires":[]},{"id":"c3629a59.26e8f8","type":"comment","z":"a7176faf.53693","name":"Webserver","info":"","x":120,"y":660,"wires":[]},{"id":"b3074e19.123bf","type":"function","z":"a7176faf.53693","name":"switchAction","func":"if (msg.payload.action == \"status\") {\n    return [null,msg];\n} else if (msg.payload.action == \"start-left\" || msg.payload.action == \"start-right\") {\n    msg.payload.status = \"bewegung gestartet...\";\n    return [msg,null];\n}\nelse {\n    msg.payload = \"\";\n    return [null,null,];\n}\n","outputs":"2","noerr":0,"x":330,"y":700,"wires":[[],["5a9182e2.be247c"]],"inputLabels":["GET"],"outputLabels":["start-left or start-right","status"]},{"id":"948d32f1.7b35d","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":1150,"y":680,"wires":[]},{"id":"5410775c.5b5868","type":"exec","z":"a7176faf.53693","command":"sudo node /var/www/html/iCube/roboarm/start.js","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1030,"y":400,"wires":[["948d32f1.7b35d"],["948d32f1.7b35d"],["948d32f1.7b35d"]]},{"id":"d6e0ae9b.af50a","type":"inject","z":"a7176faf.53693","name":"","topic":"","payload":"start-left","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":380,"wires":[["5410775c.5b5868"]]},{"id":"ac3d7371.40ee9","type":"inject","z":"a7176faf.53693","name":"","topic":"","payload":"start-right","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":460,"wires":[["5410775c.5b5868"]]},{"id":"4850d499.85295c","type":"json","z":"a7176faf.53693","name":"","pretty":true,"x":690,"y":780,"wires":[["948d32f1.7b35d","a54082a2.c631b"]]},{"id":"5a9182e2.be247c","type":"function","z":"a7176faf.53693","name":"CheckStatus","func":"var myStatus = flow.get(\"myStatus\")||\"ready\";\nmsg.payload.status = myStatus;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":780,"wires":[["4850d499.85295c"]]},{"id":"b24f9a6e.1b2018","type":"inject","z":"a7176faf.53693","name":"","topic":"unlocker","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":190,"y":140,"wires":[["263694f0.c8793c"]]},{"id":"a815d807.2c46d8","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"263694f0.c8793c","type":"function","z":"a7176faf.53693","name":"setStatus","func":"flow.set(\"myStatus\",\"ready\"); \nmsg.payload = \"Status unlocked\";\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["a815d807.2c46d8"]]},{"id":"27ad17f8.ab0058","type":"inject","z":"a7176faf.53693","name":"","topic":"getStatus","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":190,"y":300,"wires":[["e853acd0.b864a"]]},{"id":"2d290a01.e12c86","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":550,"y":300,"wires":[]},{"id":"e853acd0.b864a","type":"function","z":"a7176faf.53693","name":"checkStatus","func":"msg.payload = flow.get(\"myStatus\");\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["2d290a01.e12c86"]]},{"id":"4ebe1b6.191d2e4","type":"comment","z":"a7176faf.53693","name":"Switch selection","info":"opt1: start-left or start-right\nopt2: status","x":340,"y":660,"wires":[]},{"id":"b69233d3.ea42","type":"function","z":"a7176faf.53693","name":"CheckStatus","func":"var myStatus = flow.get(\"myStatus\")||\"ready\";\n\nif (myStatus == \"ready\") {\n   flow.set(\"myStatus\",\"locked\"); \n}\nmsg.payload.status = myStatus;\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":1140,"wires":[[]]},{"id":"41e28fa4.4f5ff","type":"comment","z":"a7176faf.53693","name":"setStatus: ready","info":"","x":160,"y":100,"wires":[]},{"id":"de23f5e0.5600c8","type":"comment","z":"a7176faf.53693","name":"getStatus","info":"","x":140,"y":260,"wires":[]},{"id":"57081e67.4b8c1","type":"comment","z":"a7176faf.53693","name":"Debug corner - useful functions","info":"","x":170,"y":40,"wires":[]},{"id":"74d0f402.4bdacc","type":"comment","z":"a7176faf.53693","name":"Main flow - including get web response","info":"","x":190,"y":620,"wires":[]},{"id":"b3e5ffe4.94ae5","type":"comment","z":"a7176faf.53693","name":"manually start-left","info":"","x":170,"y":340,"wires":[]},{"id":"70a72c9b.812354","type":"comment","z":"a7176faf.53693","name":"manually start-right","info":"","x":170,"y":420,"wires":[]},{"id":"c2f683c4.afe6b","type":"comment","z":"a7176faf.53693","name":"Check status","info":"","x":530,"y":740,"wires":[]},{"id":"a1541a7c.0eb838","type":"function","z":"a7176faf.53693","name":"CheckStatus","func":"var myStatus = flow.get(\"myStatus\")||\"ready\";\nmsg.payload.status = myStatus;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":660,"wires":[[]]},{"id":"b51ebe06.55d1c","type":"inject","z":"a7176faf.53693","name":"","topic":"locker","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":180,"y":220,"wires":[["2735bd43.ca8af2"]]},{"id":"7c683ccb.0e2a84","type":"debug","z":"a7176faf.53693","name":"","active":true,"console":"false","complete":"false","x":490,"y":220,"wires":[]},{"id":"2735bd43.ca8af2","type":"function","z":"a7176faf.53693","name":"setStatus","func":"flow.set(\"myStatus\",\"locked\"); \nmsg.payload = \"Status locked\";\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["7c683ccb.0e2a84"]]},{"id":"c73ad1c6.5a484","type":"comment","z":"a7176faf.53693","name":"setStatus: locked","info":"","x":160,"y":180,"wires":[]},{"id":"5a07b3b.f2a7d4c","type":"inject","z":"a7176faf.53693","name":"kill","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":170,"y":540,"wires":[["65aa7f4f.431df"]]},{"id":"153f940a.3ca74c","type":"comment","z":"a7176faf.53693","name":"kill the process","info":"","x":160,"y":500,"wires":[]},{"id":"65aa7f4f.431df","type":"function","z":"a7176faf.53693","name":"msg.kill: SIGQUIT","func":"msg.kill =\"SIGQUIT\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["5410775c.5b5868"]]}]
